@charset "utf-8";

/* Default Style
---------------------------------------------------------*/
* {
/*	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",  Verdana, Arial, Helvetica, sans-serif; */
	font-family: Sylfaen, Georgia, "Times New Roman", serif;
	margin: 0px;
	padding: 0px;	
}

body {
	font-size: 62.5%;
	text-align: center;
	background: transparent;
}


h2 {
	font-size: 2.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 5px;
}

p, dt, dd, ul, ol, th, td, blockquote {
	font-size: 1.2em;
} 

a, em, strong, span, input, textarea, select {
	font-size: 100%;
}

ul li ul {
	font-size: 100%;
}

p {
	margin-bottom: 15px;
}

ul {
	list-style: none;
	margin-bottom: 15px;
}

ul li {
	margin-bottom: 15px;
}


ul li strong {
	font-weight: normal;
	color: #3a92ad;
}

dl dt {
	text-transform: uppercase;
}

dl dd {
	margin-bottom: 15px;
}

img {
	border: none;
	vertical-align: bottom;
}