@charset "utf-8";

/* Default Style
---------------------------------------------------------*/
* {
/*	font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",  Verdana, Arial, Helvetica, sans-serif; */
	font-family: Sylfaen, Georgia, "Times New Roman", serif;
/*	font-family: "ヒラギノ角ゴ Pro W3", "Myriad Pro", "Segoe UI",Helvetica, Arial, sans-serif; */
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	text-align: center;
	background: transparent;
}

body.dynamicPage {
	overflow: hidden;
}

h2 {
	font-size: 4.0em;
	font-weight: normal;
	font-style: normal;
	text-transform: capitalize;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.8em;
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 5px;
}

p, dt, dd, ul, ol, th, td, blockquote {
	font-size: 1.4em;
} 

a, em, strong, span, input, textarea, select {
	font-size: 100%;
}

ul li ul {
	font-size: 100%;
}

p {
	margin-bottom: 15px;
}

ul {
	list-style: none;
	margin-bottom: 15px;
}

ul li {
	margin-bottom: 15px;
}

strong {
	font-weight: bold;
	color: #333333;
}

dl dt {
	text-transform: uppercase;
}

dl dd {
	margin-bottom: 15px;
}

img {
	border: none;
	vertical-align: bottom;
}

fieldset {
	border: none;
	margin-bottom: 15px;
}

.photo {
	margin-bottom: 0px;
}

.controls {
	text-align: center;
	margin: 0px auto 20px auto;
}
