@CHARSET "utf-8";

/*---------------------------------------------------------
	module.css

	Site Description - Style of Site Description.
	Navigation - Style of Navigation.
	Copyright -	Style of Copyright.
	Exhibition - Style of Exhibition.
	Thumbnails - Style of Exhibition.Horizontal.
	Previewer - Style of image previewer.
	Tooltips - Tooltips style of mootools more.
---------------------------------------------------------*/


/* Site Description
---------------------------------------------------------*/
.exhibition {
	position: absolute;
	top: 0px;
	left: 15px;
	z-index: 11;
	background: transparent;
}

.exhibition .inner {
	position: absolute;
	top: 0px;
	width: 162px;
	height: 252px;
}

.exhibition .inner h1 {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
}

.exhibition .inner p {
	font-size: 1.2em;
	color: #ffffff;
	text-align: center;
	margin-bottom: 0px;
	padding: 0px 15px 10px 15px;
}

.exhibition .hd {
	background: url(../images/bgi_desc_top.png) no-repeat left top;
}

.exhibition .bd {
	background: url(../images/bgi_desc_bottom.png) no-repeat left bottom;
	padding-bottom: 18px;
}






/* Navigation
---------------------------------------------------------*/
.global {
	list-style: none; 
	z-index: 9999;
	margin-left: 156px;
	font-size: 1.2em;
	text-transform: uppercase;
}

.global li {
	float: left;
	border-right: 1px solid #626262;
}

.global a, .menumatic a {
	text-decoration: none;
	display: block;
	padding: 13px 20px 12px 20px;
	color: #ffffff;
}

.global a {
	float: left;
}

.global li li a, .menumatic a {
	text-align: left;
	background: #000000;
}

.global li.current_page_item a,
.menumatic li.current_page_item a {
	background-color: #3c94af;
}

.menumatic a:hover, 
.menumatic a:focus, 
.menumatic a.subMenuParentBtnFocused,
.global a.mainMenuParentBtnFocused, 
.global a:hover,
.global a:focus {
	background-color: #3c94af;
}

.menumatic .subMenuParentBtn {
	background: url(../images/arrow_right.gif) right center no-repeat;
}

.menumatic .subMenuParentBtnFocused { 
	background: url(../images/arrow_right_hover.gif) right center no-repeat;  
}

.global .mainMenuParentBtn,
.global .mainMenuParentBtnFocused {	
	padding-right: 30px;
}

.global .mainMenuParentBtn {	
	background: url(../images/arrow_down.gif) right center no-repeat;
}

.global .mainMenuParentBtnFocused {	
	background: url(images/arrow_down_hover.gif) right center no-repeat; 
}

.smOW {
	display: none; 
	position: absolute; 
	overflow: hidden; 
	padding: 0px 2px;
	margin-left: -2px;
}

.smOW ul {
	margin-top: -1px;
}

.smOW ul li {
	margin-bottom: 0px;
}

.global ul, .menumatic ul {	
	border: 1px solid #333333;
	background: #000000;
	left: 0px;
	top: 0px;
	margin-bottom: 0px;
}




/* Copyright
----------------------------------*/
.copyright {
	color: #ffffff;
	text-transform: uppercase;
}

.copyright a {
	color: #3c94af;
}

.copyright a:hover {
	color: #ffd700;
}







/* Exhibition
----------------------------------*/
.matrix {
	overflow: hidden;
	list-style: none;
	position: relative;
}

.matrix li {
	z-index: 5;
	float: left;
	position: absolute;
	background: url(../images/bgi_thumbnail.png) no-repeat center top;
}

.matrix li a {
	display: block;
	padding: 10px 10px 7px 10px;
	background: url(../images/bgi_thumbnail.png) no-repeat center -186px;
	outline: none;
}

.matrix li strong {
	font-weight: normal;
	display: block;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.matrix li a img {
	border: 1px solid #ffffff;
}

.matrix li.active,
.matrix li:hover {
	background: url(../images/bgi_thumbnail_active.png) no-repeat center top;
}

.matrix li.active a,
.matrix li:hover a {
	background: url(../images/bgi_thumbnail_active.png) no-repeat center -186px;
}


/* Thumbnails
----------------------------------*/


.thumbnailsPager {
/*	top: 200px;
	position: absolute;
	z-index: 9998;
*/
	z-index: 8;
	margin: -220px auto 0px -150px;
/*	background: #000000; */
/*	padding: 10px 0px; */
	left: 50%;
	position: absolute;
	width: 300px;
	background: #333333
}

.thumbnailsPager li.prev {
	float: left;
}

.thumbnailsPager li.next {
	float: right;
}








.wp-pagenavi {
	z-index: 8;
	margin: -160px auto 0px -150px;
	left: 50%;
	position: absolute;
	background: #333333;
	text-align: center;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wp-pagenavi a,
.wp-pagenavi .current,
.wp-pagenavi .last,
.wp-pagenavi .extend {
	display: inline-block;
	padding: 5px 10px;
	background: #222222;
}

.wp-pagenavi a,
.wp-pagenavi span {
	font-size: 1.4em;
	margin-left: 5px;
	color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wp-pagenavi a:hover {
	background: #3c94af;
}

.wp-pagenavi .current {
	background: #3c94af;
}

.wp-pagenavi .pages {
	padding-right: 10px;
}










.thumbnails {
	z-index: 8;
/*	margin: -130px auto 0px auto; */
	margin: 0px auto 0px auto;
	background: #000000;
	opacity: 0.95;
	padding: 10px 0px;
	position: relative;
}

.thumbnails ul {
	overflow: hidden;
	list-style: none;
	position: relative;
	margin-bottom: 0px;
}

.thumbnails ul li {
	position: absolute;
}

.thumbnails ul li a {
	display: block;
	padding: 5px;
	background: #333333;
}

.thumbnails ul li a:hover {
	background: #3c94af;
}

.thumbnails ul li.active a {
	background: #3c94af;
}







/* Tooltips
----------------------------------------*/
.tip-wrap {
	text-align: left;
	background: #333333;
	color: #ffffff;
	padding: 5px 10px;
	z-index: 9999;
}

.tip-wrap .tip-top {
}

.tip {
}

.tip .tip-title {
	font-size: 1.4em;
	text-transform: uppercase;
}

.tip .tip-text {
	font-size: 1.2em;
}

.tip-wrap .tip-bottom {
}



/* Previewer
--------------------------------------------*/
.previewer {
	z-index: 9;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #ffffff;
	-moz-box-shadow: 0px 0px 18px #cccccc;
	-webkit-box-shadow: 0px 0px 18px #cccccc;
	margin-top: -80px;
	margin-left: -84px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	padding: 15px;
	text-align: left;
}

/* Previewer - Photography
--------------------------------------------*/
.previewer .photography {
	float: left;
	opacity: 1;
/*	background: #000000; */
}

.previewer .photography img {
	border: 1px solid #cccccc;
	opacity: 1;
	padding: 1px;
/*	background: #000000; */
}

.previewer .photography .about {
	position: absolute;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 15px;
	background: #000000;
	opacity: 0.8;
	left: 26px;
	font-weight: normal;
	width: 250px;
	z-index: 1000;
}

.previewer .photography .about h3 {
	font-size: 1.4em;
	margin-bottom: 5px;
}

.previewer .photography .about p {
	font-size: 1.2em;
	margin-bottom: 0px;
}

/* Previewer - Information
--------------------------------------------*/
.previewer .information {
	float: right;
	width: 136px;
	padding-left: 15px;
}
/*
.previewer .information .exif {
	margin-bottom: 15px;
}
*/

.previewer .information h3 {
	margin-bottom: 10px;
}

.previewer .information ul {
	list-style: none;
}

.previewer .information ul li {
	margin-bottom: 5px;
}

.previewer .information dl {
	margin-bottom: 5px;
}

.previewer .information dt {
	font-weight: bold;
}

.previewer .information dd {
	margin-bottom: 10px;
}





/* mod */
.mod {
	margin-bottom: 20px;
	overflow:hidden;
}

.mod .hd {
	overflow: hidden;
	margin-bottom: 10px;
	background: url(../images/bgi_mod_aside.jpg) repeat-x left bottom;
}

.mod .hd h2 {
	margin-bottom: 5px;
	color: #197296;
}

.mod .hd h3, .mod .hd .explanation {
	float: left;
	display: inline;
	margin-bottom: 10px;
}

.mod .hd h3 {
	text-transform: uppercase;
}

.mod .hd .explanation {
	padding-top: 4px;
	padding-left: 10px;
}

.photo-frame .photography {
	width: 618px;
	border: 1px solid #e6e6e6;
	padding: 10px;
	background: #ffffff;
}

.exif ul, .tags ul {
	margin: 0px;
}

.exif ul li, .tags ul li {
	float: left;
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background: url(../images/bgi_tags.jpg) repeat-x left bottom;
}



/* Widget Categories
------------------------*/
.widget_categories ul {
	margin-bottom: 0px;
}

.widget_categories ul li {
	margin-bottom: 0px;
}

.widget_categories ul li li {
	margin-left: 10px;
}

.widget_categories ul li a {
	margin-bottom: 5px;
	display: inline-block;
}


/* Widget Archive
------------------------*/
.widget_archive ul {
	margin-bottom: 0px;
}

.widget_archive ul li {
	margin-bottom: 5px;
}


.commentForm fieldset {
	overflow: hidden;
}

.commentForm fieldset ul {
	float: left;
}

.commentForm fieldset p {
	float: right;
}

.meta {
	margin-bottom: 10px;
}

.meta li {
	margin-right: 5px;
	margin-bottom: 0px;
	display: inline-block;
}



/* Comment
-------------------------------------*/
.comment {
	overflow: hidden;
	margin-bottom: 15px;
}

.comment .author {
	float: left;
	width: 60px;
}

.comment .author img {
	padding: 5px;
	border: 1px solid #cccccc;
}

.comment .commentContent {
	font-size: 100%;
	float: right;
	width: 510px;
	padding: 15px;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #cccccc;
	color: #333;
	background: #fff;
}

.comment .commentContent .meta {
	text-align: right;
	margin-bottom: 0px;
}

.comment .commentContent .meta li {
	text-align: right;
}

.comment .commentContent p,
.comment .commentContent .meta li {
	font-size: 100%;
}

.commentContent:before {
	content: "\00a0";
	display: block;
	position: absolute;
	left: -31px;
	width: 0;
	height: 0;
	top: 15px;
	border-width: 8px 15px;
	border-style: solid;
	border-color: transparent #cccccc transparent transparent;
}

.commentContent:after {
	content: "\00a0";
	display: block;
	position: absolute;
	top: 16px;
	left: -29px;
	width: 0;
	height: 0;
	border-width: 7px 15px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}









.vcard {
	padding: 15px 0px 15px 0px;
}

.vcard p.me {
	margin-bottom: 5px;
}