@charset "utf-8";

/* Warpper
----------------------------------*/
#warpper {
	text-align: left;
	overflow: hidden;
}

/* Header
----------------------------------*/
.header {
	position: absolute;
	background: url(../images/bgi_header_bar.png) repeat-x left top;
	height: 47px;
	z-index: 10;
	width: 100%;
}

.page .container,
.single .container {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}

.contents {
	float: left;
	z-index: 1px;
	position: relative;
	padding: 80px 20px 0px 20px;
	margin-left: 15px;
	width: 640px;
	background: #ffffff;
	-moz-box-shadow: 0px 0px 18px #cccccc;
	-webkit-box-shadow: 0px 0px 18px #cccccc;
	box-shadow: 0px 0px 18px #cccccc;
}

.sidebar {
	float: left;
	padding: 80px 0px 0px 40px;
	width: 220px;
}


/* Footer
----------------------------------*/
.footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background: #000000;
	border-top: 1px solid #222222;
	opacity: 0.95;
}

.footer .inner {
	padding-top: 10px;
	padding-right: 15px;
}

.dynamicPage .footer {
	margin: -42px auto 0px auto;
	padding: 0px;
	position: relative;
	left: 0px;
	z-index: 11;
}