@charset "utf-8";

/* Warpper
----------------------------------*/
#warpper {
	text-align: left;
}

/* Header
----------------------------------*/
.header {
	position: absolute;
	background: url(../images/bgi_header_bar.png) repeat-x left top;
	height: 47px;
	z-index: 10;
	width: 100%;
}


.page .container,
.single .container {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
/*	background: #f0f0f0; */
}

.contents {
	float: left;
	z-index: 1px;
	position: relative;
	padding: 80px 20px 0px 20px;
	margin-left: 15px;
	width: 640px;
	background: #ffffff;
	-moz-box-shadow: 0px 0px 18px #cccccc;
	-webkit-box-shadow: 0px 0px 18px #cccccc;
}

.sidebar {
	float: left;
	padding: 80px 0px 0px 40px;
	width: 220px;
}


/* Footer
----------------------------------*/
.footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background: #000000;
	border-top: 1px solid #222222;
	opacity: 0.95;
}

.footer .inner {
	padding-top: 10px;
	padding-right: 15px;
}

.static {
}

.relative {
	position: relative;
	top: 100%;
	left: 0px;
	margin: -42px auto 0px auto;
	z-index: 11;
}



/* page-template-about-php
----------------------------------*/
/*
.page-template-about-php #main {
	width: 700px;
	margin: 0px auto;
	padding: 80px 15px 0px 15px;
	overflow: hidden;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.page-template-about-php #main img {
	padding: 1px;
	border: 1px solid #cccccc;
	margin-bottom: 5px;
}

.page-template-about-php #main #sidebar {
	float: left;
	width: 180px;
	display: inline;
	text-align: right;
}

.page-template-about-php #main #content {
	float: right;
	width: 490px;
	display: inline;
	border-left: 1px solid #cccccc;
	padding-left: 15px;
}
*/

/*
.container {
	padding-top: 40px;
	width: 960px;
	margin: 0px auto;
}
*/
